<!DOCTYPE html>
<html lang="en">
<head>
  <title>Farmar</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/css/bootstrap.min.css">

</head>
<body>
{% block content %}

  <div class="container fixed-top bg-light justify-content-center ">
    <div class="row">
      <div class="col-4" >
         <img src="../static/img/logo.jpg" height="28" weight='50' alt="Cinque Terre">
        
      </div>
      
      <div class="col-4">
        <form class="form-inline d-flex justify-content-center md-form form-sm active-cyan active-cyan-2 mt-2 ">
          <i class="fas fa-search" aria-hidden="true"></i>
          <input class="form-control form-control-sm ml-3 w-75 border border-success" type="text" placeholder="Search" aria-label="Search">
        </form>
      </div>
      <div class="col-4">
        <div class="row">
          
          <div class="col-sm">
            <a class="font-weight-bold text-success" href="{% url 'chart' %}">News Feed</a>
          </div>
          <div class="col-sm">
            <a class="font-weight-bold text-success" href="{% url 'register' %}" >Register</a>
          </div>
           <div class="col-sm">
            <a class="font-weight-bold text-success" href="{% url 'login' %}" >Login</a>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row  ">
      <div class="col-4 text-left text-success"><a class="font-weight-bold text-success" href="{% url 'home' %}"><h3>Categories</h3</a></div>
      <div class="col">
        <a class="font-weight-bold text-success" href="{% url 'home' %}">Home</a>
      </div>
      <div class="col">
        <a class="font-weight-bold text-success" href="{% url 'about' %}" >About Us</a>
      </div>
    
      <div class="col">
        <a class="font-weight-bold text-success" href="{% url 'agency' %}">Agency</a>
      </div>
      <div class="col">
        <a class="font-weight-bold text-success" href="{% url 'blog' %}">Blog</a>
      </div>
      <div class="col">
        <a class="font-weight-bold text-success" href="{% url 'training' %}">Training</a>
      </div>
    </div>
  </div>


  <div class="container" style="margin-top:110px">
    <div class="row ">
      <div class="col-2 ">
        <div class="row">
          <a class="font-weight-bold text-success" href="{% url 'vegitable' %}">Vegitable</a>
        </div>
        <div class="row">
          <a class="font-weight-bold text-success"  href="{% url 'fish' %}">Fish</a>
        </div>
        <div class="row">
          <a class="font-weight-bold text-success"  href="{% url 'meet' %}">Meets  And Egg</a>
        </div>
        <div class="row">
          <a class="font-weight-bold text-success"  href="{% url 'rice' %}">Rice</a>
        </div>
        <div class="row">
          <a class="font-weight-bold text-success"  href="{% url 'machine' %}">Machine</a>
        </div>
        <div class="row">
          <a class="font-weight-bold text-success"  href="{% url 'madichine' %}">Madichine</a>
        </div>
      </div>
      <div class="col-10" >
        <h1 class="text-center text-success">ABOUT US</h1>
        <p>
        E-commerce is mostly used terms now days. People get used to online shopping in larger scale . 
        My goal is to develop an eco-system where both buyer and seller become beneficial. The farmers are mostly deprived of our supply chain system. 
        My shop will ensure purchase straight from the farmers so that they will get better price and end buyers will get quality products. This is the way we can pay contribute to our economics and thus will our nation will develop strong and steady.

        </p>
        <p>
        It will a system where manufacturer/seller can post their products and find the perfect person to sell the products where buyer/customer
        can search what they are looking for. 
        There is will be automated store for seller and dashboard respectively buyer/ 
        customer will get access as a guest or complete profile with their social media.
        </p>

      <form>
      <h1 class="text-success">Comments</h1>
      <div class="form-group">
      
        <label for="exampleInputEmail1">Name</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        
      </div>
      <div class="form-group">
      
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Example textarea</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    
       <a href="{% url 'home' %}" class="btn btn-success btn-lg active" role="button" aria-pressed="true">Submit</a>
      </form>
      </div>
    </div>

    
    
    <div class="row bg-success" style="margin-top:20px">
      <div class="col text-white">
      <h3>Contact Us</h3>
        <p>63/1,Sukrabad,Dhanmondi,Dhaka</p>
        <p>alamin493641@gmail.com</p>
        <p>01838638369</p>
      </div>
      <div class="col text-white">
        <h3>Our Service</h3>
        <div class="row" >
          <a class=" text-white text-ligh" href="#">Direct Contact</a>
        </div>
        <div class="row">
          <a class="text-white text-ligh" href="#">Training</a>
        </div>
      </div>
      <div class="col text-white">
        <h3>Menu</h3>
        <div class="row">
          <a class=" text-white text-ligh" href="#">Privacy Policy</a>
        </div>
        <div class="row">
          <a class="text-white text-ligh" href="#">Terms & Conditions</a>
        </div>
      </div>
      
      <div class="col text-white">
        <h3>Social Media</h3>
        <div class="row" style="width: 30px; height: 30px;">
          <a class=" text-white text-ligh" href="#">Facebook</a>
          <a class=" text-white text-ligh" href="#">Twitter</a>
          <a class=" text-white text-ligh" href="#">Google+</a>
        </div>
        
      </div>
    </div>
  </div>

{% endblock %}
</body>
</html>