<!DOCTYPE html>
<html lang="en">
<head>
  <title>Farmar</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/css/bootstrap.min.css">

</head>
<body>
{% block content %}

  <div class="container fixed-top bg-light justify-content-center ">
    <div class="row">
      <div class="col-4" >
         <img src="../static/img/logo.jpg" height="28" weight='50' alt="Cinque Terre">
        
      </div>
      
      <div class="col-4">
        <form class="form-inline d-flex justify-content-center md-form form-sm active-cyan active-cyan-2 mt-2 ">
          <i class="fas fa-search" aria-hidden="true"></i>
          <input class="form-control form-control-sm ml-3 w-75 border border-success" type="text" placeholder="Search" aria-label="Search">
        </form>
      </div>
      <div class="col-4">
        <div class="row">
          
          <div class="col-sm">
            <a class="font-weight-bold text-success" href="{% url 'chart' %}">News Feed</a>
          </div>
          <div class="col-sm">
            <a class="font-weight-bold text-success" href="{% url 'register' %}" >Register</a>
          </div>
           <div class="col-sm">
            <a class="font-weight-bold text-success" href="{% url 'login' %}" >Login</a>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row  ">
      <div class="col-4 text-left text-success"><a class="font-weight-bold text-success" href="{% url 'home' %}"><h3>Categories</h3</a></div>
      <div class="col">
        <a class="font-weight-bold text-success" href="{% url 'home' %}">Home</a>
      </div>
      <div class="col">
        <a class="font-weight-bold text-success" href="{% url 'about' %}" >About Us</a>
      </div>
    
      <div class="col">
        <a class="font-weight-bold text-success" href="{% url 'agency' %}">Agency</a>
      </div>
      <div class="col">
        <a class="font-weight-bold text-success" href="{% url 'blog' %}">Blog</a>
      </div>
      <div class="col">
        <a class="font-weight-bold text-success" href="{% url 'training' %}">Training</a>
      </div>
    </div>
  </div>


  <div class="container" style="margin-top:110px">
    <div class="row ">
      <div class="col-2 ">
        <div class="row">
          <a class="font-weight-bold text-success" href="{% url 'vegitable' %}">Vegitable</a>
        </div>
        <div class="row">
          <a class="font-weight-bold text-success"  href="{% url 'fish' %}">Fish</a>
        </div>
        <div class="row">
          <a class="font-weight-bold text-success"  href="{% url 'meet' %}">Meets  And Egg</a>
        </div>
        <div class="row">
          <a class="font-weight-bold text-success"  href="{% url 'rice' %}">Rice</a>
        </div>
        <div class="row">
          <a class="font-weight-bold text-success"  href="{% url 'machine' %}">Machine</a>
        </div>
        <div class="row">
          <a class="font-weight-bold text-success"  href="{% url 'madichine' %}">Madichine</a>
        </div>
      </div>
      <div class="col-10" >
      
        <div class="row" >
          <div class="col-4" style="width: 150px; height: 200px;">
        
            <img src="../static/img/training1.jpg" style="width: 250px; height: 250px;" alt="Cinque Terre">
        
          </div>
          <div class="col-8" style="width: 150px; height: 200px;">
            <h1>Eon agro industries LTD</h1>
            <p>
              Agrochemicals are referred to pesticides including insecticides, herbicides, fungicides, and nematicides.
               It may also include synthetic fertilizers, hormones, and other chemical growth agents. We have a great range of products for crop protection. Our crop solution covers control of plant diseases, insects, unwanted weeds and micronutrients traces elements. 
              We also have a good range of seeds for rice, maize and various types of vegetables.
            
            </p>
            
          </div>
      
        </div>
        <div class="row" style="margin-top:70px">
          <div class="col-4" style="width: 150px; height: 200px;">
        
            <img src="../static/img/training2.jpg" class="w-100 p-3" alt="Cinque Terre">
        
          </div>
          <div class="col-8" style="width: 150px; height: 200px;">
            <h1>Eon agro industries LTD</h1>
            <p>
             Our agrochemical industry is focused on and deals with crop production and protection.
              And to ensure that we manufacture various kinds of pesticides, insecticides, miticides, 
              and fertilizers to increase crop yields. 
             Pesticides also find utility for animal and public health, as a disinfectant, for home cares etc.
            </p>
            
          </div>
      
        </div>
        <div class="row" style="margin-top:30px">
          <div class="col-4" style="width: 150px; height: 200px;">
        
            <img src="../static/img/training3.jpg" class="w-100 p-3" alt="Cinque Terre">
        
          </div>
          <div class="col-8" style="width: 150px; height: 200px;">
            <h1>Eon agro industries LTD </h1>
            <p>
              Bangladesh is an Agro-based country. Most of our people directly or indirectly related to crop production.
               Because Agriculture is the basis of all culture. 
              It is the mother of civilization. For crop production we need quality seed, farm mechanization, 
              balanced nutrition and good plant production measures. 
            </p>
            
          </div>
      
        </div>




      </div>
    </div>
    
    
    
    <div class="row bg-success" style="margin-top:100px">
      <div class="col text-white">
      <h3>Contact Us</h3>
        <p>63/1,Sukrabad,Dhanmondi,Dhaka</p>
        <p>alamin493641@gmail.com</p>
        <p>01838638369</p>
      </div>
      <div class="col text-white">
        <h3>Our Service</h3>
        <div class="row" >
          <a class=" text-white text-ligh" href="#">Direct Contact</a>
        </div>
        <div class="row">
          <a class="text-white text-ligh" href="#">Training</a>
        </div>
      </div>
      <div class="col text-white">
        <h3>Menu</h3>
        <div class="row">
          <a class=" text-white text-ligh" href="#">Privacy Policy</a>
        </div>
        <div class="row">
          <a class="text-white text-ligh" href="#">Terms & Conditions</a>
        </div>
      </div>
      
      <div class="col text-white">
        <h3>Social Media</h3>
        <div class="row" style="width: 30px; height: 30px;">
          <a class=" text-white text-ligh" href="#">Facebook</a>
          <a class=" text-white text-ligh" href="#">Twitter</a>
          <a class=" text-white text-ligh" href="#">Google+</a>
        </div>
        
      </div>
    </div>
  </div>

{% endblock %}
</body>
</html>